.container {
  height: 100%;
  padding: 10px;
}

.logo {
  margin: 10px;
}

.content {
  text-align: center;
  color: white;
  padding: 20px 0;
}

.btn {
  margin: 10px 5px;
  font-family: "Merriweather", serif;
}
