.header {
  height: 70px;
  width: 100%;
  background-color: transparent;
  color: #d04e68;
}

.logo {
  cursor: pointer;
}

.logo-img {
  height: 65px;
  margin: 0 10px 0 0;
}

.title {
  font-size: 24px;
}
